---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Yoga Studio">
  <div class="pre-loader-wrapper" data-preloader style="display:flex">
    <div class="w-layout-hflex breathe-flex" data-breathe>
      <div class="breathe-text">B</div>
      <div class="breathe-text">r</div>
      <div class="breathe-text">e</div>
      <div class="breathe-text">a</div>
      <div class="breathe-text">t</div>
      <div class="breathe-text">h</div>
      <div class="breathe-text">e</div>
      <div class="breathe-text">.</div>
      <div class="breathe-text">.</div>
      <div class="breathe-text">.</div>
    </div>
  </div>

  <header class="section_header1 background-color-grey section-light-wave">
    <Nav />
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="header1_component">
            <div class="w-layout-grid header1_content">
              <div class="header1_content-left" data-reveal>
                <div class="margin-bottom margin-small">
                  <h1>Discover the <span class="heading-highlight">Perfect</span> Yoga Class for You</h1>
                </div>
                <p class="text-size-medium">Welcome to our yoga studio, where you'll find a variety of classes and experienced instructors to guide you on your yoga journey.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="/classes" class="button w-button">Explore</a>
                  </div>
                </div>
              </div>
              <div class="header1_image-wrapper" data-reveal>
                <img loading="eager" alt="" src="/images/Hero-Back.avif" class="hero-back-image" />
                <img loading="eager" src="/images/Hero-Front_1.avif" alt="Two people in a yoga class" class="header1_image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="wave-wrapper">
      <div class="wave-long-pattern"></div>
    </div>
  </header>

  <section class="section_layout7">
    <div class="padding-global padding-section-large">
      <div class="container-large">
        <div class="layout7_component">
          <div class="w-layout-grid layout7_content">
            <div class="layout7_content-right">
              <div class="layout7_image-wrapper" data-reveal>
                <img loading="lazy" src="/images/Home-About_1.avif" alt="A woman meditating" class="layout7_image" />
              </div>
            </div>
            <div class="layout7_content-left" data-reveal>
              <div class="margin-bottom margin-xsmall">
                <div class="text-style-tagline text-color-accent">Empower</div>
              </div>
              <div class="margin-bottom margin-small">
                <h2 class="heading-style-h2 text-color-black">Transform Your Life Through Yoga</h2>
              </div>
              <div class="margin-bottom margin-medium">
                <p class="text-size-medium text-color-black">At our yoga studio, we believe in the power of yoga to improve physical and mental well-being. Join our community and experience the benefits of a regular yoga practice. Our experienced instructors offer a variety of classes for all levels, from beginners to advanced practitioners. Whether you're looking to increase flexibility, reduce stress, or find inner peace, we have a class for you.</p>
              </div>
              <div class="margin-top margin-medium">
                <div class="button-group">
                  <a href="/classes" class="button is-secondary w-button">See Classes</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_testimonial7 background-color-grey">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="margin-bottom margin-huge text-align-center">
            <h2>What customers say</h2>
            <div class="text-block">Flowga has help change many lives</div>
          </div>
          <div class="testimonial7_component">
            <div class="testimonial7_slider w-slider" data-slider>
              <div class="testimonial7_mask w-slider-mask" data-slider-mask>
                <div class="testimonial7_slide w-slide" data-slide>
                  <div class="testimonial7_content">
                    <h3 class="heading-style-h5 text-color-black">"I never knew how much yoga could help me until I started coming to Flowga. The instructors are amazing and have taught me so much. I'm so grateful!"</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall">
                          <div class="testimonial7_client-image-wrapper">
                            <img loading="lazy" src="/images/Home-testemonial.png" alt="" class="testimonial7_client-image" />
                          </div>
                        </div>
                        <div class="text-weight-semibold text-color-black">Johnny Dorand</div>
                        <div class="text-color-black">Yoga Enthusiast</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial7_slide w-slide" data-slide>
                  <div class="testimonial7_content">
                    <h3 class="heading-style-h5 text-color-black">"I never knew how much yoga could help me until I started coming to Flowga. The instructors are amazing and have taught me so much. I'm so grateful!"</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall">
                          <div class="testimonial7_client-image-wrapper">
                            <img loading="lazy" src="/images/Home-testemonial-3.png" alt="" class="testimonial7_client-image" />
                          </div>
                        </div>
                        <div class="text-weight-semibold text-color-black">Johnny Dorand</div>
                        <div class="text-color-black">Yoga Enthusiast</div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="testimonial7_slide w-slide" data-slide>
                  <div class="testimonial7_content">
                    <h3 class="heading-style-h5 text-color-black">"I never knew how much yoga could help me until I started coming to Flowga. The instructors are amazing and have taught me so much. I'm so grateful!"</h3>
                    <div class="margin-top margin-medium">
                      <div class="testimonial7_client">
                        <div class="margin-bottom margin-xsmall">
                          <div class="testimonial7_client-image-wrapper">
                            <img loading="lazy" src="/images/Home-testemonial-2.png" alt="" class="testimonial7_client-image" />
                          </div>
                        </div>
                        <div class="text-weight-semibold text-color-black">Johnny Dorand</div>
                        <div class="text-color-black">Yoga Enthusiast</div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <button type="button" class="slider-arrow is-centre-previous hide-mobile-landscape w-slider-arrow-left" data-slider-prev aria-label="Previous testimonial">
                <div class="slider-arrow-icon_default">
                  <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M3.31066 8.75001L9.03033 14.4697L7.96967 15.5303L0.439339 8.00001L7.96967 0.469676L9.03033 1.53034L3.31066 7.25001L15.5 7.25L15.5 8.75L3.31066 8.75001Z" fill="currentColor"></path>
                  </svg>
                </div>
              </button>
              <button type="button" class="slider-arrow is-centre-next hide-mobile-landscape w-slider-arrow-right" data-slider-next aria-label="Next testimonial">
                <div class="slider-arrow-icon_default">
                  <svg width="100%" height="100%" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M12.6893 7.25L6.96967 1.53033L8.03033 0.469666L15.5607 8L8.03033 15.5303L6.96967 14.4697L12.6893 8.75H0.5V7.25H12.6893Z" fill="currentColor"></path>
                  </svg>
                </div>
              </button>
              <div class="testimonial7_slide-nav w-slider-nav w-slider-nav-invert w-round" data-slider-nav></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_contact29">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="contact29_component">
            <div class="margin-bottom margin-xxlarge text-align-center">
              <div class="margin-bottom margin-xsmall">
                <div class="text-style-tagline text-color-accent">Yoga Studio</div>
              </div>
              <div class="margin-bottom margin-small">
                <h2 class="heading-style-h2 text-color-black">Locations</h2>
              </div>
              <p class="text-size-medium text-color-black">Find a yoga studio near you</p>
            </div>
            <div class="contact29_tabs w-tabs" data-tabs role="tablist">
              <div class="contact29_tabs-menu w-tab-menu">
                <button type="button" class="contact29_tabs-link w-inline-block w-tab-link w--current" data-tab-link="tab-1" role="tab" aria-selected="true" id="tab-1-btn" aria-controls="tab-1-panel">
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">Sydney</h3>
                  </div>
                  <div>123 Sample St, <br />Sydney NSW 2000 AU</div>
                  <div class="margin-top margin-small">
                    <div class="text-weight-semibold">View Map</div>
                  </div>
                </button>
                <button type="button" class="contact29_tabs-link w-inline-block w-tab-link" data-tab-link="tab-2" role="tab" aria-selected="false" id="tab-2-btn" aria-controls="tab-2-panel">
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">New York</h3>
                  </div>
                  <div>123 Sample St, <br />New York NY 10000 USA</div>
                  <div class="margin-top margin-small">
                    <div class="text-weight-semibold">View Map</div>
                  </div>
                </button>
                <button type="button" class="contact29_tabs-link w-inline-block w-tab-link" data-tab-link="tab-3" role="tab" aria-selected="false" id="tab-3-btn" aria-controls="tab-3-panel">
                  <div class="margin-bottom margin-xsmall">
                    <h3 class="heading-style-h5">London</h3>
                  </div>
                  <div>123 Sample St, <br />London W1C 1DE, United Kingdom</div>
                  <div class="margin-top margin-small">
                    <div class="text-weight-semibold">View Map</div>
                  </div>
                </button>
              </div>
              <div class="w-tab-content">
                <div data-tab-panel="tab-1" class="contact29_tab-pane w-tab-pane w--tab-active" role="tabpanel" id="tab-1-panel" aria-labelledby="tab-1-btn">
                  <div class="contact29_map-wrapper">
                    <iframe class="contact29_map" title="Sydney map" loading="lazy" style="border:0;width:100%;height:100%" src="https://www.google.com/maps?q=Sydney+NSW+2000+AU&output=embed"></iframe>
                  </div>
                </div>
                <div data-tab-panel="tab-2" class="contact29_tab-pane w-tab-pane" role="tabpanel" id="tab-2-panel" aria-labelledby="tab-2-btn" hidden>
                  <div class="contact29_map-wrapper">
                    <iframe class="contact29_map" title="New York map" loading="lazy" style="border:0;width:100%;height:100%" src="https://www.google.com/maps?q=New+York+NY+10000+USA&output=embed"></iframe>
                  </div>
                </div>
                <div data-tab-panel="tab-3" class="contact29_tab-pane w-tab-pane" role="tabpanel" id="tab-3-panel" aria-labelledby="tab-3-btn" hidden>
                  <div class="contact29_map-wrapper">
                    <iframe class="contact29_map" title="London map" loading="lazy" style="border:0;width:100%;height:100%" src="https://www.google.com/maps?q=London+W1C+1DE+United+Kingdom&output=embed"></iframe>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_cta29 text-color-white background-color-accent section-dark-wave">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="cta29_component">
            <div class="text-align-center">
              <div class="max-width-large align-center">
                <div class="margin-bottom margin-small">
                  <h2 class="heading-style-h2 text-color-white">Elevate Your Practice</h2>
                </div>
                <p class="text-size-medium text-color-white">Discover our premium classes!</p>
                <div class="margin-top margin-medium">
                  <div class="button-group is-center">
                    <a href="/classes" class="button is-alternate w-button">Explore</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />
</Layout>

<script>
  // Preloader: fade "Breathe..." in as one block, hold, then fade the whole overlay out
  const preloader = document.querySelector<HTMLElement>('[data-preloader]');
  const breathe = document.querySelector<HTMLElement>('[data-breathe]');
  if (preloader && breathe) {
    requestAnimationFrame(() => {
      requestAnimationFrame(() => {
        breathe.classList.add('is-visible', 'is-breathing');
      });
    });
    window.setTimeout(() => {
      preloader.classList.add('is-hidden');
      window.setTimeout(() => {
        preloader.style.display = 'none';
      }, 1000);
    }, 2000);
  }

  // Native tab switcher (replaces w-tabs)
  document.querySelectorAll<HTMLElement>('[data-tabs]').forEach((tabs) => {
    const links = tabs.querySelectorAll<HTMLButtonElement>('[data-tab-link]');
    const panels = tabs.querySelectorAll<HTMLElement>('[data-tab-panel]');
    links.forEach((link) => {
      link.addEventListener('click', () => {
        const target = link.dataset.tabLink;
        links.forEach((l) => {
          const active = l === link;
          l.classList.toggle('w--current', active);
          l.setAttribute('aria-selected', String(active));
        });
        panels.forEach((p) => {
          const active = p.dataset.tabPanel === target;
          p.classList.toggle('w--tab-active', active);
          p.hidden = !active;
        });
      });
    });
  });

  // Native slider (replaces w-slider)
  document.querySelectorAll<HTMLElement>('[data-slider]').forEach((slider) => {
    const mask = slider.querySelector<HTMLElement>('[data-slider-mask]');
    const slides = Array.from(slider.querySelectorAll<HTMLElement>('[data-slide]'));
    const nav = slider.querySelector<HTMLElement>('[data-slider-nav]');
    const prev = slider.querySelector<HTMLButtonElement>('[data-slider-prev]');
    const next = slider.querySelector<HTMLButtonElement>('[data-slider-next]');
    if (!mask || slides.length === 0) return;

    let index = 0;
    const dots: HTMLButtonElement[] = [];

    slides.forEach((slide, i) => {
      slide.style.display = i === 0 ? '' : 'none';
      if (nav) {
        const dot = document.createElement('button');
        dot.type = 'button';
        dot.className = 'w-slider-dot' + (i === 0 ? ' w-active' : '');
        dot.setAttribute('aria-label', `Show testimonial ${i + 1}`);
        dot.addEventListener('click', () => goTo(i));
        nav.appendChild(dot);
        dots.push(dot);
      }
    });

    function goTo(i: number) {
      index = (i + slides.length) % slides.length;
      slides.forEach((slide, j) => {
        slide.style.display = j === index ? '' : 'none';
      });
      dots.forEach((dot, j) => dot.classList.toggle('w-active', j === index));
    }

    prev?.addEventListener('click', () => goTo(index - 1));
    next?.addEventListener('click', () => goTo(index + 1));
  });

  // Scroll-triggered reveal (replaces IX2 fade/slide-up)
  const revealEls = document.querySelectorAll<HTMLElement>('[data-reveal]');
  if ('IntersectionObserver' in window) {
    const io = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('is-revealed');
            io.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.2 }
    );
    revealEls.forEach((el) => io.observe(el));
  } else {
    revealEls.forEach((el) => el.classList.add('is-revealed'));
  }
</script>

<style>
  [data-reveal] {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  [data-reveal].is-revealed {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  /* .wave-long-pattern is a 6400px-wide repeating tile inside an overflow:hidden
     wrapper -- scroll its background to get the continuous wave motion. */
  .wave-long-pattern {
    animation: wave-scroll 30s linear infinite;
  }
  @keyframes wave-scroll {
    from {
      background-position-x: 0;
    }
    to {
      background-position-x: -1600px;
    }
  }

  .pre-loader-wrapper {
    opacity: 1;
    transition: opacity 1s ease;
  }
  .pre-loader-wrapper.is-hidden {
    opacity: 0;
    pointer-events: none;
  }
  .breathe-flex {
    opacity: 0;
    width: 309px;
    transition: opacity 1s ease;
  }
  .breathe-flex.is-visible {
    opacity: 1;
  }
  .breathe-flex.is-breathing {
    animation: breathe-width 2s ease-in-out infinite alternate;
  }
  @keyframes breathe-width {
    from {
      width: 309px;
    }
    to {
      width: 420px;
    }
  }

  /* iframe is inline-replaced by default; kill baseline gap and make it fill
     .contact29_map-wrapper (which is already height:100% of the grid-stretched pane). */
  .contact29_map {
    display: block;
    width: 100%;
    height: 100%;
  }

  /* webflow.css's .w-tabs clearfix pseudo-elements declare explicit
     grid-column-start/grid-row-start: 1 -- harmless in the float layout they were
     written for, but once .contact29_tabs is display:grid they become a real grid
     item sitting in cell (1,1), shoving tabs-menu to column 2 and the map to row 2. */
  .contact29_tabs.w-tabs::before,
  .contact29_tabs.w-tabs::after {
    content: none;
  }
</style>
