---
import Layout from '../layouts/Layout.astro';
import Nav from '../components/Nav.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="The Yoga Handbook">
  <Nav />

  <header class="section_header15 background-color-grey">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="header15_component">
            <div class="margin-bottom margin-xxlarge">
              <div class="w-layout-grid header15_content-wrapper">
                <div class="header15_content-left" data-reveal>
                  <h1>The Handbook That Can Change Your Life</h1>
                </div>
                <div class="header15_content-right" data-reveal>
                  <p class="text-size-medium">The Yoga Handbook is your ultimate guide to all things yoga. Whether you're a beginner or an experienced yogi, this comprehensive resource will help you deepen your practice, explore new techniques, and find inspiration from our team of expert instructors.</p>
                  <div class="margin-top margin-medium">
                    <div class="button-group">
                      <a href="#buy-section" class="button w-button">Get The Book</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="header15_image-wrapper" data-reveal>
              <div class="book-rotate-wrapper" data-book-rotate>
                <spline-viewer url="https://prod.spline.design/RaHtT31yAbmH8Bjb/scene.splinecode"></spline-viewer>
              </div>
              <div class="spline-badge-cover" aria-hidden="true"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>

  <div class="section_layout405">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="layout405_component">
            <div class="layout405_tabs w-tabs" data-tabs role="tablist">
              <div class="layout405_tabs-menu w-tab-menu">
                <button type="button" class="layout405_tab-link w-inline-block w-tab-link w--current" data-tab-link="tab-1" role="tab" aria-selected="true" id="handbook-tab-1-btn" aria-controls="handbook-tab-1-panel">
                  <div class="text-block-3">Excerpt 1</div>
                </button>
                <button type="button" class="layout405_tab-link w-inline-block w-tab-link" data-tab-link="tab-2" role="tab" aria-selected="false" id="handbook-tab-2-btn" aria-controls="handbook-tab-2-panel">
                  <div>Excerpt 2</div>
                </button>
                <button type="button" class="layout405_tab-link w-inline-block w-tab-link" data-tab-link="tab-3" role="tab" aria-selected="false" id="handbook-tab-3-btn" aria-controls="handbook-tab-3-panel">
                  <div>Excerpt 3</div>
                </button>
              </div>
              <div class="layout405_tabs-content w-tab-content">
                <div data-tab-panel="tab-1" class="layout405_tab-pane w-tab-pane w--tab-active" role="tabpanel" id="handbook-tab-1-panel" aria-labelledby="handbook-tab-1-btn">
                  <div class="layout405_tab-wrapper">
                    <div class="layout405_image-wrapper" data-reveal>
                      <img
                        sizes="(max-width: 1456px) 100vw, 1456px"
                        srcset="/images/Handbook-Tabs-1_1Handbook-Tabs-1.avif 500w, /images/Handbook-Tabs-1_1.avif 1456w"
                        alt="Excerpt 1 Tab"
                        src="/images/Handbook-Tabs-1_1.avif"
                        loading="lazy"
                        class="layout405_image"
                      />
                    </div>
                    <div class="margin-top margin-xxlarge" data-reveal>
                      <div class="text-align-center">
                        <div class="max-width-large">
                          <div class="margin-bottom margin-xsmall">
                            <div class="text-weight-semibold text-color-black">Discover</div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h2 class="heading-style-h2 text-color-black">Explore the World of Yoga</h2>
                          </div>
                          <p class="text-size-medium">Learn about the history, philosophy, and principles of yoga in this comprehensive section.</p>
                          <div class="margin-top margin-medium">
                            <div class="button-group is-center">
                              <a href="#buy-section" class="button is-secondary w-button">Get The Book</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-tab-panel="tab-2" class="layout405_tab-pane w-tab-pane" role="tabpanel" id="handbook-tab-2-panel" aria-labelledby="handbook-tab-2-btn" hidden>
                  <div class="layout405_tab-wrapper">
                    <div class="layout405_image-wrapper" data-reveal>
                      <img
                        sizes="100vw"
                        srcset="/images/Handbook-Tabs-2_1Handbook-Tabs-2.avif 500w, /images/Handbook-Tabs-2_1Handbook-Tabs-2.avif 800w, /images/Handbook-Tabs-2_1.avif 1456w"
                        alt="Inside of Yoga Book"
                        src="/images/Handbook-Tabs-2_1.avif"
                        loading="lazy"
                        class="layout405_image"
                      />
                    </div>
                    <div class="margin-top margin-xxlarge" data-reveal>
                      <div class="text-align-center">
                        <div class="max-width-large">
                          <div class="margin-bottom margin-xsmall">
                            <div class="text-style-tagline">Tagline</div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h2>Medium length section heading goes here</h2>
                          </div>
                          <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                          <div class="margin-top margin-medium">
                            <div class="button-group is-center">
                              <a href="#" class="button-4 is-secondary w-button">Button</a>
                              <a href="#" class="button-4 is-link is-icon w-inline-block">
                                <div>Button</div>
                                <div class="icon-embed-xxsmall w-embed">
                                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3L11 8L6 13" stroke="currentColor" stroke-width="1.5"></path>
                                  </svg>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div data-tab-panel="tab-3" class="layout405_tab-pane w-tab-pane" role="tabpanel" id="handbook-tab-3-panel" aria-labelledby="handbook-tab-3-btn" hidden>
                  <div class="layout405_tab-wrapper">
                    <div class="layout405_image-wrapper" data-reveal>
                      <img
                        sizes="100vw"
                        srcset="/images/Handbook-Tabs-3_1Handbook-Tabs-3.avif 500w, /images/Handbook-Tabs-3_1Handbook-Tabs-3.avif 800w, /images/Handbook-Tabs-3_1.avif 1456w"
                        alt="Inside of Yoga Handbook"
                        src="/images/Handbook-Tabs-3_1.avif"
                        loading="lazy"
                        class="layout405_image"
                      />
                    </div>
                    <div class="margin-top margin-xxlarge" data-reveal>
                      <div class="text-align-center">
                        <div class="max-width-large">
                          <div class="margin-bottom margin-xsmall">
                            <div class="text-style-tagline">Tagline</div>
                          </div>
                          <div class="margin-bottom margin-small">
                            <h2>Medium length section heading goes here</h2>
                          </div>
                          <p class="text-size-medium">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut commodo diam libero vitae erat.</p>
                          <div class="margin-top margin-medium">
                            <div class="button-group is-center">
                              <a href="#" class="button-4 is-secondary w-button">Button</a>
                              <a href="#" class="button-4 is-link is-icon w-inline-block">
                                <div>Button</div>
                                <div class="icon-embed-xxsmall w-embed">
                                  <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M6 3L11 8L6 13" stroke="currentColor" stroke-width="1.5"></path>
                                  </svg>
                                </div>
                              </a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section id="buy-section" class="section_pricing1">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="pricing1_component">
            <div class="margin-bottom margin-xxlarge">
              <div class="text-align-center">
                <div class="max-width-large align-center">
                  <div class="margin-bottom margin-xsmall">
                    <div class="text-weight-semibold text-color-black">Get The Book</div>
                  </div>
                  <div class="margin-bottom margin-small">
                    <h2 class="heading-style-h2">Download Your Copy Today</h2>
                  </div>
                  <p class="text-size-medium">The Yoga handbook is immediately available for download in an E-book format</p>
                </div>
              </div>
            </div>
            <div class="max-width-medium align-center" data-reveal>
              <div class="pricing1_plan shadow-xlarge">
                <div class="margin-bottom margin-medium">
                  <div class="text-align-center">
                    <div class="margin-bottom margin-xxsmall">
                      <div class="heading-style-h6">Single Payment</div>
                    </div>
                    <div class="margin-bottom margin-xxsmall">
                      <div class="heading-style-h1 text-color-black card-heading">$29</div>
                    </div>
                  </div>
                </div>
                <div class="pricing1_feature-list">
                  {['High Image Quality', 'Multiple Digital Formats', 'Available in English, Spanish', '197 full Color Pages'].map((feature) => (
                    <div class="pricing1_feature">
                      <div class="pricing1_icon-wrapper">
                        <div class="icon-embed-xsmall w-embed">
                          <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M20.3479 7.56384L9.7479 18.1638C9.65402 18.2585 9.52622 18.3117 9.3929 18.3117C9.25958 18.3117 9.13178 18.2585 9.0379 18.1638L3.6479 12.7738C3.55324 12.68 3.5 12.5522 3.5 12.4188C3.5 12.2855 3.55324 12.1577 3.6479 12.0638L4.3479 11.3638C4.44178 11.2692 4.56958 11.2159 4.7029 11.2159C4.83622 11.2159 4.96402 11.2692 5.0579 11.3638L9.3879 15.6938L18.9379 6.14384C19.1357 5.95205 19.4501 5.95205 19.6479 6.14384L20.3479 6.85384C20.4426 6.94772 20.4958 7.07552 20.4958 7.20884C20.4958 7.34216 20.4426 7.46995 20.3479 7.56384Z" fill="currentColor"></path>
                          </svg>
                        </div>
                      </div>
                      <div class="text-block-6">{feature}</div>
                    </div>
                  ))}
                </div>
                <div class="margin-top margin-medium">
                  <a href="/checkout" class="button is-alternate max-width-full w-button">Get the Book</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_cta17 text-color-white background-color-accent section-dark-wave">
    <div class="padding-global">
      <div class="container-large">
        <div class="padding-section-large">
          <div class="cta17_component">
            <div class="w-layout-grid cta17_content">
              <div class="cta17_content-left" data-reveal>
                <h2 class="heading-style-h2 text-color-white">The Yoga Handbook</h2>
              </div>
              <div class="cta17_content-right" data-reveal>
                <p class="text-size-medium text-color-white">Discover the ultimate guide to yoga with our comprehensive handbook. Learn from multiple instructors and find the perfect class for your needs. Take your yoga practice to the next level with our expert tips and techniques.</p>
                <div class="margin-top margin-medium">
                  <div class="button-group">
                    <a href="#buy-section" class="button is-alternate w-button">Buy Now</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <Footer />
</Layout>

<script type="module" src="https://unpkg.com/@splinetool/viewer@1.9.48/build/spline-viewer.js"></script>

<style>
  .header15_image-wrapper {
    height: 32rem;
    position: relative;
    perspective: 1200px;
  }
  .book-rotate-wrapper {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
  }
  spline-viewer {
    display: block;
    width: 100%;
    height: 100%;
  }
  /* Backup cover in case the JS removal (below) can't reach the shadow DOM badge. */
  .spline-badge-cover {
    position: absolute;
    z-index: 10;
    right: 0;
    bottom: 0;
    width: 11rem;
    height: 3rem;
    background: var(--color-scheme-1--light-grey);
    border-bottom-right-radius: var(--_ui-styles---radius--large);
  }

  [data-reveal] {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
    transition: opacity 0.6s ease, transform 0.6s ease;
  }
  [data-reveal].is-revealed {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
</style>

<script>
  document.querySelectorAll<HTMLElement>('[data-tabs]').forEach((tabs) => {
    const links = tabs.querySelectorAll<HTMLButtonElement>('[data-tab-link]');
    const panels = tabs.querySelectorAll<HTMLElement>('[data-tab-panel]');
    links.forEach((link) => {
      link.addEventListener('click', () => {
        const target = link.dataset.tabLink;
        links.forEach((l) => {
          const active = l === link;
          l.classList.toggle('w--current', active);
          l.setAttribute('aria-selected', String(active));
        });
        panels.forEach((p) => {
          const active = p.dataset.tabPanel === target;
          p.classList.toggle('w--tab-active', active);
          p.hidden = !active;
        });
      });
    });
  });

  // Scroll-triggered reveal (replaces IX2 fade/slide-up)
  const revealEls = document.querySelectorAll<HTMLElement>('[data-reveal]');
  if ('IntersectionObserver' in window) {
    const io = new IntersectionObserver(
      (entries) => {
        entries.forEach((entry) => {
          if (entry.isIntersecting) {
            entry.target.classList.add('is-revealed');
            io.unobserve(entry.target);
          }
        });
      },
      { threshold: 0.2 }
    );
    revealEls.forEach((el) => io.observe(el));
  } else {
    revealEls.forEach((el) => el.classList.add('is-revealed'));
  }

  // Reach into the viewer's shadow DOM and strip the "Built with Spline" badge directly.
  const splineEl = document.querySelector<any>('spline-viewer');
  const removeBadge = () => {
    const root = splineEl?.shadowRoot;
    root?.querySelectorAll('#logo, a[href*="spline.design"]').forEach((n: Element) => n.remove());
  };
  splineEl?.addEventListener('load', removeBadge);
  window.setTimeout(removeBadge, 1500);

  // "3D book" scroll animation (from the live site's IX2 config): as the header
  // scrolls through view, the Spline scene rotates from 0deg to about -34deg on all
  // three axes between 42% and 78% scroll progress through the section.
  const bookHeader = document.querySelector<HTMLElement>('.section_header15');
  const bookViewer = document.querySelector<HTMLElement>('[data-book-rotate]');
  if (bookHeader && bookViewer) {
    let ticking = false;
    const START = 0.42;
    const END = 0.78;
    const ANGLE = -34.377; // -0.6 radians
    const updateBookRotation = () => {
      const rect = bookHeader.getBoundingClientRect();
      const total = window.innerHeight + rect.height;
      const raw = (window.innerHeight - rect.top) / total;
      const progress = Math.min(Math.max(raw, 0), 1);
      const t = Math.min(Math.max((progress - START) / (END - START), 0), 1);
      const angle = ANGLE * t;
      bookViewer.style.transform = `perspective(1200px) rotateX(${angle}deg) rotateY(${angle}deg) rotateZ(${angle}deg)`;
      ticking = false;
    };
    window.addEventListener(
      'scroll',
      () => {
        if (!ticking) {
          requestAnimationFrame(updateBookRotation);
          ticking = true;
        }
      },
      { passive: true }
    );
    updateBookRotation();
  }
</script>
