---
interface Props {
  variant?: 'light' | 'dark';
}
const { variant = 'light' } = Astro.props;
---

<div
  class="navbar11_component w-nav"
  data-collapse="medium"
  data-nav-root
  role="banner"
>
  <div class="navbar11_container">
    <a href="/" class="navbar11_logo-link w-nav-brand">
      <div class="icon-embed-custom w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 29 22" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
          <g clip-path="url(#clip0_4930_12761)">
            <path d="M2.33639 9.2501C3.5968 9.25568 8.19619 9.51478 11.6176 12.8165C13.0551 14.0897 13.9336 15.5364 14.5 16.8925C15.0664 15.5364 15.9449 14.0897 17.3824 12.8165C20.8038 9.51478 25.4032 9.25568 26.6636 9.2501C26.855 9.24924 27.0018 9.39619 27 9.58611C26.99 10.7858 26.6901 15.0062 23.1472 18.1498C19.5004 21.6655 15.8889 21.6251 14.5 21.6251C13.1111 21.6251 9.50045 21.6659 5.85288 18.1498C2.30947 15.0058 2.01 10.7858 2.00001 9.58611C1.99828 9.39619 2.14498 9.24924 2.33639 9.2501ZM14.5009 14.0024C13.9445 13.1925 13.303 12.465 12.5873 11.8317C11.7587 11.032 10.8694 10.4008 9.9718 9.89033C10.6853 6.86103 12.2166 4.17334 14.1702 2.49025C14.3485 2.33642 14.6485 2.33642 14.8273 2.49025C16.78 4.17205 18.3112 6.85717 19.0261 9.88389C18.1419 10.3866 17.2682 11.0071 16.4557 11.7913C15.7162 12.4473 15.0597 13.1898 14.5009 14.0024Z" fill="currentColor"></path>
          </g>
          <defs>
            <clipPath id="clip0_4930_12761">
              <rect width="29" height="21.2502" fill="white" transform="matrix(-1 0 0 1 29 0.374882)"></rect>
            </clipPath>
          </defs>
        </svg>
      </div>
      <div class="icon-embed-custom-2 w-embed">
        <svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 93 30" fill="none" preserveAspectRatio="xMidYMid meet" aria-hidden="true" role="img">
          <path d="M15.167 3.0955C15.0897 3.92683 15.0317 4.72917 14.993 5.5025C14.9737 6.27583 14.964 6.8655 14.964 7.2715C14.964 7.71617 14.9737 8.13183 14.993 8.5185C15.0124 8.90517 15.0317 9.2435 15.051 9.5335H14.384C14.1714 8.0835 13.8814 6.94283 13.514 6.1115C13.1467 5.26083 12.6537 4.6615 12.035 4.3135C11.4164 3.94617 10.5947 3.7625 9.57003 3.7625H8.32303C7.74303 3.7625 7.29836 3.81083 6.98903 3.9075C6.6797 4.00417 6.46703 4.20717 6.35103 4.5165C6.25436 4.82583 6.20603 5.2995 6.20603 5.9375V20.4375C6.20603 21.1722 6.28336 21.7232 6.43803 22.0905C6.5927 22.4578 6.89236 22.6995 7.33703 22.8155C7.7817 22.9315 8.4197 22.9992 9.25103 23.0185V23.6275C8.69036 23.5888 7.96536 23.5695 7.07603 23.5695C6.1867 23.5502 5.26836 23.5405 4.32103 23.5405C3.50903 23.5405 2.72603 23.5502 1.97203 23.5695C1.21803 23.5695 0.560697 23.5888 3.05176e-05 23.6275V23.0475C0.638031 23.0088 1.1117 22.9315 1.42103 22.8155C1.7497 22.6995 1.96236 22.4675 2.05903 22.1195C2.17503 21.7715 2.23303 21.2495 2.23303 20.5535V6.1695C2.23303 5.45417 2.17503 4.93217 2.05903 4.6035C1.96236 4.2555 1.7497 4.0235 1.42103 3.9075C1.1117 3.77217 0.638031 3.69483 3.05176e-05 3.6755V3.0955C0.773364 3.11483 1.58536 3.13417 2.43603 3.1535C3.30603 3.1535 4.1567 3.16317 4.98803 3.1825C5.8387 3.1825 6.6217 3.1825 7.33703 3.1825C8.0717 3.1825 8.66136 3.1825 9.10603 3.1825C9.99537 3.1825 11.0007 3.1825 12.122 3.1825C13.2627 3.16317 14.2777 3.13417 15.167 3.0955ZM10.788 13.1875C10.788 13.1875 10.788 13.2842 10.788 13.4775C10.788 13.6708 10.788 13.7675 10.788 13.7675H5.33603C5.33603 13.7675 5.33603 13.6708 5.33603 13.4775C5.33603 13.2842 5.33603 13.1875 5.33603 13.1875H10.788ZM11.455 9.3595C11.3777 10.4615 11.339 11.3025 11.339 11.8825C11.3584 12.4625 11.368 12.9942 11.368 13.4775C11.368 13.9608 11.3777 14.4925 11.397 15.0725C11.4164 15.6525 11.4647 16.4935 11.542 17.5955H10.875C10.7977 16.9382 10.6527 16.3195 10.44 15.7395C10.2274 15.1402 9.8987 14.6665 9.45403 14.3185C9.0287 13.9512 8.41003 13.7675 7.59803 13.7675V13.1875C8.19736 13.1875 8.69036 13.0618 9.07703 12.8105C9.4637 12.5592 9.76336 12.2402 9.97603 11.8535C10.208 11.4475 10.382 11.0318 10.498 10.6065C10.6334 10.1618 10.73 9.74617 10.788 9.3595H11.455Z" fill="currentColor"></path>
          <path d="M21.8993 0.9205V20.9305C21.8993 21.7425 22.0443 22.2935 22.3343 22.5835C22.6437 22.8735 23.156 23.0185 23.8713 23.0185V23.6275C23.5233 23.6082 22.9917 23.5888 22.2763 23.5695C21.5803 23.5308 20.865 23.5115 20.1303 23.5115C19.415 23.5115 18.6803 23.5308 17.9263 23.5695C17.1917 23.5888 16.6407 23.6082 16.2733 23.6275V23.0185C16.9887 23.0185 17.4913 22.8735 17.7813 22.5835C18.0907 22.2935 18.2453 21.7425 18.2453 20.9305V4.4005C18.2453 3.5305 18.11 2.8925 17.8393 2.4865C17.5687 2.06117 17.0467 1.8485 16.2733 1.8485V1.2395C16.892 1.2975 17.4913 1.3265 18.0713 1.3265C18.806 1.3265 19.4923 1.2975 20.1303 1.2395C20.7683 1.16217 21.358 1.05583 21.8993 0.9205Z" fill="currentColor"></path>
          <path d="M32.3094 8.2285C33.6434 8.2285 34.8228 8.49917 35.8474 9.0405C36.8914 9.5625 37.7131 10.4035 38.3124 11.5635C38.9311 12.7235 39.2404 14.2508 39.2404 16.1455C39.2404 18.0402 38.9311 19.5675 38.3124 20.7275C37.7131 21.8875 36.8914 22.7285 35.8474 23.2505C34.8228 23.7725 33.6434 24.0335 32.3094 24.0335C30.9754 24.0335 29.7864 23.7725 28.7424 23.2505C27.6984 22.7285 26.8768 21.8875 26.2774 20.7275C25.6781 19.5675 25.3784 18.0402 25.3784 16.1455C25.3784 14.2508 25.6781 12.7235 26.2774 11.5635C26.8768 10.4035 27.6984 9.5625 28.7424 9.0405C29.7864 8.49917 30.9754 8.2285 32.3094 8.2285ZM32.3094 8.8085C31.4008 8.8085 30.6564 9.3885 30.0764 10.5485C29.5158 11.6892 29.2354 13.5548 29.2354 16.1455C29.2354 18.7362 29.5158 20.6018 30.0764 21.7425C30.6564 22.8832 31.4008 23.4535 32.3094 23.4535C33.1988 23.4535 33.9334 22.8832 34.5134 21.7425C35.0934 20.6018 35.3834 18.7362 35.3834 16.1455C35.3834 13.5548 35.0934 11.6892 34.5134 10.5485C33.9334 9.3885 33.1988 8.8085 32.3094 8.8085Z" fill="currentColor"></path>
          <path d="M47.3271 8.6345V9.2435C46.8631 9.2435 46.4668 9.28217 46.1381 9.3595C45.8095 9.4175 45.5871 9.57217 45.4711 9.8235C45.3745 10.0748 45.4228 10.5195 45.6161 11.1575L48.4581 19.7995L48.1391 20.0315L51.8221 8.5765L52.4311 8.8665L47.7041 23.7145C47.4721 23.6952 47.2305 23.6855 46.9791 23.6855C46.7471 23.6855 46.5151 23.6952 46.2831 23.7145L41.6431 10.8675C41.3338 10.0942 41.0245 9.63017 40.7151 9.4755C40.4251 9.32084 40.1738 9.2435 39.9611 9.2435V8.6345C40.5025 8.6925 41.0631 8.74083 41.6431 8.7795C42.2231 8.79883 42.8611 8.8085 43.5571 8.8085C44.1565 8.8085 44.7848 8.78917 45.4421 8.7505C46.1188 8.71183 46.7471 8.67317 47.3271 8.6345ZM62.7261 8.6345V9.2435C62.3588 9.32083 62.0011 9.52383 61.6531 9.8525C61.3245 10.1618 61.0248 10.7418 60.7541 11.5925L56.7811 23.7145C56.5491 23.6952 56.3171 23.6855 56.0851 23.6855C55.8531 23.6855 55.6115 23.6952 55.3601 23.7145L51.0971 12.3175L51.8511 8.5765C52.1218 8.59583 52.3925 8.6055 52.6631 8.6055C52.9338 8.6055 53.2045 8.59583 53.4751 8.5765L57.6221 20.3795L57.3321 20.2345L59.5941 13.2165C59.8841 12.2885 59.9905 11.5442 59.9131 10.9835C59.8551 10.4228 59.6328 10.0072 59.2461 9.7365C58.8788 9.4465 58.3665 9.28217 57.7091 9.2435V8.6345C58.0185 8.65383 58.3375 8.67317 58.6661 8.6925C58.9948 8.71183 59.3138 8.73117 59.6231 8.7505C59.9325 8.7505 60.2225 8.7505 60.4931 8.7505C60.8991 8.7505 61.3051 8.74083 61.7111 8.7215C62.1171 8.70217 62.4555 8.67317 62.7261 8.6345Z" fill="currentColor"></path>
          <path d="M68.6859 29.0795C67.5452 29.0795 66.5109 28.9732 65.5829 28.7605C64.6549 28.5478 63.9202 28.2288 63.3789 27.8035C62.8375 27.3975 62.5669 26.8755 62.5669 26.2375C62.5669 25.6188 62.8375 25.0678 63.3789 24.5845C63.9202 24.1012 64.7129 23.7338 65.7569 23.4825L65.9599 23.9465C65.5925 24.1592 65.3122 24.4492 65.1189 24.8165C64.9255 25.1838 64.8288 25.5705 64.8288 25.9765C64.8288 26.8078 65.2059 27.4458 65.9599 27.8905C66.7332 28.3545 67.7579 28.5865 69.0339 28.5865C69.9039 28.5865 70.7062 28.4705 71.4408 28.2385C72.1755 28.0065 72.7652 27.6488 73.2099 27.1655C73.6545 26.6822 73.8769 26.0828 73.8769 25.3675C73.8769 24.7682 73.6545 24.2655 73.2099 23.8595C72.7845 23.4535 71.9242 23.2505 70.6289 23.2505H68.7149C67.9995 23.2505 67.3422 23.1732 66.7429 23.0185C66.1628 22.8638 65.6989 22.6125 65.3509 22.2645C65.0029 21.9165 64.8288 21.4332 64.8288 20.8145C64.8288 20.0605 65.1382 19.3838 65.7569 18.7845C66.3755 18.1658 67.3422 17.5665 68.6569 16.9865L68.9759 17.2475C68.4925 17.4988 68.0575 17.7695 67.6709 18.0595C67.3035 18.3495 67.1199 18.7168 67.1199 19.1615C67.1199 19.7802 67.5452 20.0895 68.3959 20.0895H71.6729C72.6782 20.0895 73.5675 20.2152 74.3409 20.4665C75.1335 20.7178 75.7619 21.1142 76.2259 21.6555C76.6898 22.1968 76.9219 22.9122 76.9219 23.8015C76.9219 24.7295 76.6222 25.5898 76.0229 26.3825C75.4235 27.1945 74.5149 27.8422 73.2969 28.3255C72.0982 28.8282 70.5612 29.0795 68.6859 29.0795ZM68.9469 17.4505C67.9029 17.4505 66.9555 17.2958 66.1049 16.9865C65.2735 16.6578 64.6162 16.1552 64.1329 15.4785C63.6495 14.7825 63.4079 13.9028 63.4079 12.8395C63.4079 11.7762 63.6495 10.9062 64.1329 10.2295C64.6162 9.55283 65.2735 9.05017 66.1049 8.7215C66.9555 8.39283 67.9029 8.2285 68.9469 8.2285C70.0102 8.2285 70.9575 8.39283 71.7888 8.7215C72.6202 9.05017 73.2775 9.55283 73.7609 10.2295C74.2442 10.9062 74.4859 11.7762 74.4859 12.8395C74.4859 13.9028 74.2442 14.7825 73.7609 15.4785C73.2775 16.1552 72.6202 16.6578 71.7888 16.9865C70.9575 17.2958 70.0102 17.4505 68.9469 17.4505ZM68.9469 16.9285C69.5269 16.9285 69.9812 16.6385 70.3099 16.0585C70.6579 15.4592 70.8319 14.3862 70.8319 12.8395C70.8319 11.2928 70.6579 10.2295 70.3099 9.6495C69.9812 9.05017 69.5269 8.7505 68.9469 8.7505C68.3669 8.7505 67.9029 9.05017 67.5549 9.6495C67.2262 10.2295 67.0619 11.2928 67.0619 12.8395C67.0619 14.3862 67.2262 15.4592 67.5549 16.0585C67.9029 16.6385 68.3669 16.9285 68.9469 16.9285ZM73.3259 10.6935L72.7749 10.4905C73.0649 9.77517 73.5385 9.17583 74.1959 8.6925C74.8532 8.18983 75.5492 7.9385 76.2839 7.9385C76.8445 7.9385 77.2795 8.09317 77.5889 8.4025C77.9175 8.71183 78.0819 9.14684 78.0819 9.7075C78.0819 10.2875 77.9272 10.7128 77.6179 10.9835C77.3085 11.2542 76.9702 11.3895 76.6029 11.3895C76.2742 11.3895 75.9745 11.2832 75.7038 11.0705C75.4332 10.8385 75.2785 10.4905 75.2399 10.0265C75.2012 9.54317 75.3559 8.94383 75.7038 8.2285L75.9939 8.3445C75.2399 8.6345 74.6792 8.9535 74.3119 9.3015C73.9445 9.6495 73.6159 10.1135 73.3259 10.6935Z" fill="currentColor"></path>
          <path d="M82.7264 23.8305C81.8951 23.8305 81.1894 23.6758 80.6094 23.3665C80.0294 23.0378 79.5944 22.6028 79.3044 22.0615C79.0144 21.5008 78.8694 20.8822 78.8694 20.2055C78.8694 19.3742 79.0627 18.6975 79.4494 18.1755C79.8361 17.6342 80.329 17.2088 80.9284 16.8995C81.5471 16.5708 82.1947 16.3002 82.8714 16.0875C83.548 15.8555 84.1861 15.6428 84.7854 15.4495C85.3847 15.2368 85.8777 14.9952 86.2644 14.7245C86.651 14.4538 86.8444 14.0962 86.8444 13.6515V11.5345C86.8444 10.9158 86.7477 10.4132 86.5544 10.0265C86.3804 9.6205 86.1097 9.32084 85.7424 9.1275C85.3944 8.91483 84.9497 8.8085 84.4084 8.8085C84.0024 8.8085 83.577 8.8665 83.1324 8.9825C82.6877 9.0985 82.3204 9.32083 82.0304 9.6495C82.5331 9.78483 82.9197 10.0362 83.1904 10.4035C83.4804 10.7708 83.6254 11.2155 83.6254 11.7375C83.6254 12.3368 83.4224 12.8105 83.0164 13.1585C82.6297 13.4872 82.1367 13.6515 81.5374 13.6515C80.8994 13.6515 80.4161 13.4485 80.0874 13.0425C79.7587 12.6365 79.5944 12.1628 79.5944 11.6215C79.5944 11.0802 79.7297 10.6355 80.0004 10.2875C80.271 9.92017 80.6481 9.5915 81.1314 9.3015C81.6147 8.97283 82.2334 8.71183 82.9874 8.5185C83.7414 8.32517 84.563 8.2285 85.4524 8.2285C86.3031 8.2285 87.0571 8.32517 87.7144 8.5185C88.3717 8.6925 88.9324 9.0115 89.3964 9.4755C89.8604 9.92017 90.1601 10.4712 90.2954 11.1285C90.4307 11.7858 90.4984 12.5882 90.4984 13.5355V21.4815C90.4984 21.9648 90.5564 22.3128 90.6724 22.5255C90.7884 22.7188 90.972 22.8155 91.2234 22.8155C91.4167 22.8155 91.6004 22.7672 91.7744 22.6705C91.9484 22.5738 92.1417 22.4385 92.3544 22.2645L92.6734 22.7575C92.2481 23.0862 91.8034 23.3472 91.3394 23.5405C90.8754 23.7338 90.3147 23.8305 89.6574 23.8305C88.9807 23.8305 88.4394 23.7338 88.0334 23.5405C87.6467 23.3472 87.3567 23.0668 87.1634 22.6995C86.9894 22.3322 86.8927 21.8972 86.8734 21.3945C86.4094 22.1678 85.8391 22.7672 85.1624 23.1925C84.4857 23.6178 83.6737 23.8305 82.7264 23.8305ZM84.4664 22.2065C84.9304 22.2065 85.3557 22.0808 85.7424 21.8295C86.1484 21.5782 86.5157 21.2012 86.8444 20.6985V14.8405C86.651 15.1305 86.3707 15.3915 86.0034 15.6235C85.6554 15.8555 85.2784 16.0875 84.8724 16.3195C84.4664 16.5515 84.0797 16.8222 83.7124 17.1315C83.3644 17.4215 83.0647 17.7888 82.8134 18.2335C82.5814 18.6588 82.4654 19.2098 82.4654 19.8865C82.4654 20.6405 82.649 21.2205 83.0164 21.6265C83.3837 22.0132 83.8671 22.2065 84.4664 22.2065Z" fill="currentColor"></path>
        </svg>
      </div>
    </a>
    <nav role="navigation" class="navbar11_menu is-page-height-tablet w-nav-menu" data-nav-menu>
      <div class="navbar11_menu-links">
        <a href="/classes" class="navbar11_link w-nav-link">Classes</a>
        <a href="/instructors" class="navbar11_link w-nav-link">Instructors</a>
        <a href="/the-yoga-handbook" class="navbar11_link w-nav-link">The Yoga Handbook</a>
      </div>
    </nav>
    <button type="button" class="navbar11_menu-button w-nav-button" data-nav-toggle aria-expanded="false" aria-label="Toggle navigation menu">
      <div class="menu-icon1">
        <div class="menu-icon1_line-top"></div>
        <div class="menu-icon1_line-middle">
          <div class="menu-icon1_line-middle-inner"></div>
        </div>
        <div class="menu-icon1_line-bottom"></div>
      </div>
    </button>
  </div>
</div>

<script>
  function initNav(root: HTMLElement) {
    const toggle = root.querySelector<HTMLButtonElement>('[data-nav-toggle]');
    const menu = root.querySelector<HTMLElement>('[data-nav-menu]');
    if (!toggle || !menu) return;

    function setOpen(isOpen: boolean) {
      root.classList.toggle('w--open', isOpen);
      toggle!.classList.toggle('w--open', isOpen);
      toggle!.setAttribute('aria-expanded', String(isOpen));
      if (isOpen) {
        menu!.setAttribute('data-nav-menu-open', '');
      } else {
        menu!.removeAttribute('data-nav-menu-open');
      }
    }

    toggle.addEventListener('click', () => {
      setOpen(!menu.hasAttribute('data-nav-menu-open'));
    });
    menu.querySelectorAll('a').forEach((link) => {
      link.addEventListener('click', () => setOpen(false));
    });
  }
  document.querySelectorAll<HTMLElement>('[data-nav-root]').forEach(initNav);
</script>

<style is:global>
  /* Real <button> carries the UA default background/border that the original
     Webflow div never had -- strip it. */
  .navbar11_menu-button {
    background-color: transparent;
    border: none;
    appearance: none;
  }

  /* .navbar11_menu-links has no site CSS at all -- without this, .navbar11_link's
     991px rule (padding: .75rem 0, i.e. zero horizontal padding) leaves the 3 links
     with no gap between them, running together as one line in the mobile dropdown. */
  @media screen and (max-width: 991px) {
    .navbar11_menu-links {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }
  }

  /* site CSS's 767px breakpoint sets padding-bottom: 6rem on the menu for a
     full-height mobile takeover pattern -- we use a small anchored dropdown
     instead, so that padding just leaves a big empty gap. Neutralize it. */
  @media screen and (max-width: 767px) {
    .navbar11_menu.is-page-height-tablet {
      padding-bottom: 1rem;
    }
  }
</style>
